#scrollToTop {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: #0c84e4;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    line-height: 40px;
    width: 40px;
    height: 40px;
    z-index: 100;
    cursor: pointer;
    outline: none;
    border: none;
    display: none;
}