$mainColor:#0c84e4;
$altColor:#b2dbfb;
$maxSmallScreen:"(max-width:768px)";
$maxMediumScreen:"(max-width:992px)";
$maxLargeScreen:"(max-width:1200px)";
$minSmallScreem:"(min-width:768px)";
$minMediumScreem:"(min-width:992px)";
$minLargeScreem:"(min-width:1200px)";
