.landing {
    .container {
        .sajdaPart {
            padding: 20px 10px 0;
            .sajda {
                text-align: right;
                line-height: 2;
                font-size: 18px;
                padding:10px;
                background-color: #f3f3f3;
                margin-bottom: 10px;
                @media #{$maxSmallScreen} {
                    font-size: 14px;
                }
            }
        }
    }
}